*{ 
    margin: 0;
    padding: 0;

}

  body {
    background-image: url(../images/banner1.jpg);
}  

/* font size and type */

h1,h2,h3,h4,h5,h6 {
    font-family: 'STIX Two Math', serif;
}

p {
    font-size: 20px;
    line-height: 30px;
    color: aliceblue;
}



/* navigation bar */

nav .navbar-nav li a{
    color: #000 !important;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    padding: 20px !important;
}

nav .navbar{
    background: tomato;
}


.banner {
    height: 100vh;
}


   